body{
    background-color: rgb(144, 154, 162);
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
header img{
    max-height: 300px;
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: auto;
}
.cards{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    max-height: 500px;
    font-family: arial;
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: auto;
}
.cards img{
    max-height: 300px;
}

.scoreInfo{
    text-align: center;
}

.result{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    padding: auto; 
    margin:auto;  
}

.playerResult{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: auto;
}

.computerResult{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    text-align: center;
    margin: auto;
    padding: auto;    
}

.button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px; 
  }
  
.button-container button {
    margin:auto;
    padding:10px;
    background-color: black;
    color:white;
    border-radius: 10px;
  }
  